#output
{
background: white;
border-radius: 10px;
border-top: 10px solid blue;
padding: 10px;
float: none;
text-align: left;
}

body
{
	background: linear-gradient(hotpink 0%, blue 100%);
    float: none ;
    text-align: center;
}

#send {
    background-color: cyan;
    color: blue;
    font-size: 20px;
}

#check {
    background-color: cyan;
    color: blue;
    font-size: 15px;
}